$greenish-color: #87d68d;
$background-color: #f7fff6;
$blueish-color: #3aced1;
$grey-hover-color: #8491a3;
$sinopia: #c63311;
$fontsize : 14px;
$border: 1px solid black;
$border-radius:0.25em;
$default-spacing: 15px;
