@import "_variables";

body {
  font-family: Arial, Helvetica, sans-serif;
  background: $background-color;
  font-size: $fontsize;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-left: $default-spacing;
}

h1 {
  font-size: $fontsize * 6;
}

h2 {
  font-size: $fontsize * 5;
}

h3 {
  font-size: $fontsize * 4;
}

h4 {
  font-size: $fontsize * 3;
}

h5 {
  font-size: $fontsize * 2;
}

h6 {
  font-size: $fontsize * 1.5;
}

input,
textarea {
  font-size: $fontsize;
}

p {
  margin-right: $default-spacing;
  display: block;
}

.danger {
  background: $sinopia;
}

img,
textarea {
  border-radius: $border-radius;
  border: $border;
}

img {
  display: block;
  margin: auto;
  width: 100%;
  margin-bottom: 10px;
}

a {
  color: #2196f3;
  text-decoration: none;

  &:hover {
    color: purple;
    text-decoration: underline;
  }
}

table {
  padding-top: $default-spacing;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
}

thead {
  color: white;
  background: adjust-hue($blueish-color, 45deg);
}

th,
td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: $grey-hover-color;
}

tbody tr:hover {
  background-color: $greenish-color;
}

.form-group {
  width: 100%;
  text-align: center;
  display: inline-block;
}

input {
  padding: 12px 20px;
  margin: 8px 0;
  width: 300px;
  box-sizing: border-box;
  border: $border;
  border-radius: $border-radius;
  font-weight: bold;
}

input[type='radio'],
input[type='checkbox'] {
  display: block;
  margin: auto;
  width: 50%;
}
